{% load staticfiles %}

<!DOCTYPE html>
<html>
	<title>TravelExpress</title>

	<link rel="stylesheet" type="text/css" href="{% static 'public/lib/bootstrap-3.3.6-dist/css/bootstrap.min.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'public/lib/bootstrap-3.3.6-dist/css/bootstrap-theme.min.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'public/css/style.css' %}" />
</html>
<body>
	{% include '_nav.html' %}
	{% include '_sub-nav.html' %}

	{% if alert %}
		<div class="alert alert-{{ alert.type }}">
			{{ alert.message }}
		</div>
	{% endif %}

	{% block content %}{% endblock %}

	<script type="text/javascript" src="{% static 'public/lib/bootstrap-3.3.6-dist/js/bootstrap.min.js' %}"></script>
</body>
</html>
