{% load staticfiles %}

<!DOCTYPE html>
<html>
	<title>TravelExpress</title>

	<link rel="stylesheet" type="text/css" href="{% static 'public/lib/bootstrap-3.3.6-dist/css/bootstrap.min.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'public/lib/bootstrap-3.3.6-dist/css/bootstrap-theme.min.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'public/css/style.css' %}" />
</html>
<body>
	{% include '_nav.html' %}

	<div class="tex-page-content container-fluid">
		{% if alert %}
			<div class="alert alert-{{ alert.type }}">
				{{ alert.message }}
			</div>
		{% endif %}

		{% block content %}{% endblock %}
	</div>

	<script type="text/javascript" src="{% static 'public/lib/jquery/jquery-2.2.2.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'public/lib/bootstrap-3.3.6-dist/js/bootstrap.min.js' %}"></script>
</body>
</html>
