{% load staticfiles %}
{% load bootstrap3 %}

<nav class="navbar navbar-default navbar-fixed-top tex-header-navbar">
	<div class="container-fluid">
		<div class="navbar-header">
			<a href="{% url 'public:index' %}" class="navbar-brand">
				<img src="{% static 'public/img/logo-banner.png' %}" alt="TravelExpress" />
			</a>
		</div>

		<!-- Main menu -->
		{% if user.is_authenticated %}
			<ul class="nav navbar-nav">
				<li class="{% if request.resolver_match.url_name == 'trip_create' %}active{% endif %}"><a href="{% url 'public:trip_create' %}">Nouveau voyage</a></li>
			</ul>
		{% endif %}

		<!-- Right menu -->
		<ul class="nav navbar-nav navbar-right">
			{% if user.is_authenticated %}
				<li class="navbar-text">Bienvenue {{ user.username }}</li>
				<li><a href="{% url 'public:logout' %}">Déconnexion</a></li>
			{% else %}
				<li class="{% if request.resolver_match.url_name == 'login' %}active{% endif %}"><a href="{% url 'public:login' %}">Connexion</a></li>
				<li class="{% if request.resolver_match.url_name == 'register' %}active{% endif %}"><a href="{% url 'public:register' %}">Inscription</a></li>
			{% endif %}
		</ul>

		<!-- Search bar -->
		<form class="navbar-form navbar-left" role="search" action="" method="POST">
			<div class="input-group">
				<input type="text" class="form-control" name="search_query" placeholder="Rechercher..." />
				<span class="input-group-btn">
					<button type="submit" class="btn btn-default">
						{% bootstrap_icon 'search' %}
					</button>
				</span>
			</div>
		</form>
	</div>
</nav>
