<nav>
	<ul>
		<li><a href="{% url 'public:index' %}">Accueil</a></li>
		{% if user.is_authenticated %}
			<li>Bienvenue {{ user.username }}</li>
			<li><a href="{% url 'public:logout' %}">Déconnexion</a></li>
		{% else %}
			<li><a href="{% url 'public:login' %}">Connexion</a></li>
			<li><a href="{% url 'public:register' %}">Inscription</a></li>
		{% endif %}
		<li>
			<form action="" method="POST">
				<input id="search_field" type="text" name="search_query" placeholder="search..."></input>
				<input id="search_submit" type="submit" value=""></input>
			</form>
		</li>
	</ul>
	
</nav>

