{% load staticfiles %}

<nav class="navbar navbar-default navbar-fixed-top tex-header-navbar">
	<div class="container-fluid">
		<div class="navbar-header">
			<a href="{% url 'public:index' %}" class="navbar-brand">
				<img src="{% static 'public/img/logo-banner.png' %}" alt="TravelExpress" />
			</a>
		</div>

		<ul class="nav navbar-nav navbar-right">
			{% if user.is_authenticated %}
				<li>Bienvenue {{ user.username }}</li>
				<li><a href="{% url 'public:logout' %}">Déconnexion</a></li>
			{% else %}
				<li><a href="{% url 'public:login' %}">Connexion</a></li>
				<li><a href="{% url 'public:register' %}">Inscription</a></li>
			{% endif %}
		</ul>

		<form class="navbar-form navbar-left" role="search" action="" method="POST">
			<div class="input-group">
				<input type="text" class="form-control" name="search_query" placeholder="Rechercher..." />
				<span class="input-group-btn">
					<button type="submit" class="btn btn-default">
						<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
					</button>
				</span>
			</div>
		</form>
	</div>
</nav>
