
/** NAV */

.tex-header-navbar .container-fluid {
	background-color: #6ED64A;
}

.tex-header-navbar .navbar-brand {
	margin-top: -5px;
}

.tex-header-navbar .navbar-nav>li>a {
	color: white;
}

/** PAGE CONTENT */

.tex-page-content {
	padding-top: 60px;
}
