/*navigation style*/
nav {
	background-color: #6ED64A;
	padding-bottom: 0.4em;
}
nav ul {
	list-style-type: none;
}
nav ul li {
	display: inline-block;
	margin-right: 2em;
	margin-top: 1em;
	font-size: 1.25em;
	font-weight: bold;
	color: white;
}
nav ul li a {
	color: white;
}
nav ul li a:hover {
	color: #E2F4A2;
	text-decoration: none;
}
nav form input {
	border: 0;
}
#search_field {
	color: #555555;
	font-size: 0.6em;
	font-weight: normal;
	height: 30px;
	width: 200px;
	padding-left: 1em;
}
#search_submit {
	background: #47A726 url("/static/public/img/search_icon.png");
	background-repeat: no-repeat;
	background-position: center;
	margin-left: -5px;
	padding-left: 24px;
	height: 30px;

	position: relative;
	top: 11px;

}

/*sub nav styling*/
nav#sub-nav {
	background-color: #ABF873;
}
nav#sub-nav a {
	font-weight: normal;
	font-size: 1em;
	color: #43B234;
}
nav#sub-nav a:hover {
	color: #50C640;
}

/*header style*/
#logo {
	width: 150px;
	height: 150px;
}